.container{
  margin: 3rem 5rem;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7rem 0;

  &__photo{
    width: 50rem;
    height: 40rem;
  }
  &__buttons{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.icon--right{
  margin-left: 1rem;
}
.welcome{
  width:40rem;
  margin-right: 15rem ;
}
