.header-2{
  font-size: $font-size-biggest;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 2rem;
}
.text--primary{
  color: $color-primary;
  letter-spacing: 2px;
  line-height: 130%;
}
.text{
  font-size: $font-size-medium;
  font-weight: 400;
}
.text-small{
  font-size: $font-size-small;
  font-weight: 400;
}

.text--grey{
  color: $color-grey;
  line-height: 170%;
}
