.features{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;

  &__items{
    width: 35rem;
    &:not(:last-child){
      padding-right: 5rem;
    }
  }
}
.icon{
  width: 5rem;
  height: 5rem;

  margin-bottom: 2rem;
}