.companies{
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid $color-grey;
  border-top: 1px solid $color-grey;
  margin: 0 -5rem;
}

.logos{
  &__name{
    width:15rem;
    height:15rem;

    fill: $color-grey;
    }
    &:not(:last-child){
      margin-right: 3rem;
    }
  }
