.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;


  &__links{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__items{
    padding: 1rem 2rem ;
    list-style: none;
    font-size: $font-size-small;
    color: $color-grey;


    &:hover{
      color:$color-primary;
    }
  }
}
