.btn{
  padding: 2rem;
  text-decoration: none;
  font-size: $font-size-small;
  border-radius: 1rem;
  transition: all 0.5s;
  color: #fff;
  font-weight: 400;
  margin-right: 2rem;

  &:hover{
    transform: translateY(-10px);
  }

  &--primary{
    background-color: $color-primary;
  }

  &--grey{
    background-color: $color-grey;
  }
}
